apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  labels:
    app: kafka-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
      - name: kafka-ui
        image: provectuslabs/kafka-ui
        imagePullPolicy: IfNotPresent
        ports:
          - name: http
            containerPort: 8080
        resources:
          limits:
            cpu: "0.2"
            memory: "512Mi"
        env:
        - name: KAFKA_CLUSTERS_0_NAME
          value: Tech-Challenge
               
        - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
          value: kafka-service:l  

        - name: KAFKA_CLUSTERS_0_ZOOKEEPER
          value: zoo1:2181
          
     
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  labels:
    app: kafka-ui
spec:
  type: LoadBalancer
  selector:
    app: kafka-ui
  ports:
  - protocol: TCP
    name: http
    port: 8080
    targetPort: 8080
    nodePort: 30009